.select_button {
  display: flex;
}

.styleBtn {
  margin: 0px 15px;
  font-size: 20px;
  background-color: white;
  color: blue;
  padding: 5px 0px;
  border: 1px solid blue;
  border-radius: 5px;
}

.styleBtn:hover {
  background-color: blue;
  color: white;
}

.initBtn {
  flex: 1 1 auto;
}
.applyBtn {
  flex: 2 1 auto;
}
