.search-content-input {
  width: 90%;
  height: 20%;
}
.search-content-input input {
  width: 100%;
  border-radius: 20px;
  height: 30px;
  padding: 5px 10px;
}
.search-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.search-content-title {
  font-size: 30px;
  font-weight: 800;
}
#root {
  height: 100vh;
}

.search-content-button {
  margin: 20px 0px;
}

.checkIcon {
  color: #394cf5;
}
